#HEART DISEASE PREDICTION ML MODEL

#Import Libraries

In [1]:
import pandas as pd #To read CSV file
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split #To split data into trainning and testing
from sklearn.preprocessing import StandardScaler # To scale numerical values from -1 to 1 range

from sklearn.linear_model import LogisticRegression # import Logistic regression
from sklearn.tree import DecisionTreeClassifier # import Decision tree
from sklearn.ensemble import RandomForestClassifier # import Random Forest Classifier
from sklearn.svm import SVC # import SVM
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score # accuracy used for accuracy of model
from sklearn.metrics import confusion_matrix

###Load Dataset

In [2]:
df = pd.read_csv("HeartAttack.csv",na_values = '?')

In [3]:
df.head(10) #Top 10 row

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,0,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,0,187,0,3.5,0,0,2,1
2,41,1,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,0,178,0,0.8,2,0,2,1
4,57,1,0,120,354,0,0,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [4]:
df.tail(10) #Last 10 row

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Info of Dataset

In [5]:
df.info() #Data Type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [6]:
df.isnull().sum() #counting null value for each column

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.689769,0.966997,131.623762,246.264026,0.145215,0.518152,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.463353,1.032052,17.538143,51.830751,0.352900,0.526296,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [8]:
df = df.drop(columns = ["slope","ca","thal"],axis = 1)

In [9]:
df.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  target
0   63    1   3       145   233    0        0      150      0      2.3       1
1   37    1   2       130   250    0        0      187      0      3.5       1
2   41    1   1       130   204    0        0      172      0      1.4       1
3   56    1   1       120   236    0        0      178      0      0.8       1
4   57    1   0       120   354    0        0      163      1      0.6       1

In [10]:
df = df.dropna()

In [11]:
df.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  target
0   63    1   3       145   233    0        0      150      0      2.3       1
1   37    1   2       130   250    0        0      187      0      3.5       1
2   41    1   1       130   204    0        0      172      0      1.4       1
3   56    1   1       120   236    0        0      178      0      0.8       1
4   57    1   0       120   354    0        0      163      1      0.6       1

In [12]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
target      0
dtype: int64

In [13]:
df["sex"].value_counts() #1--> Male and 0--> Female

1    209
0     94
Name: sex, dtype: int64

In [14]:
df["cp"].value_counts() # Categorical data

0    143
2     87
1     50
3     23
Name: cp, dtype: int64

In [15]:
df["restecg"].value_counts() # Categorical data

0    150
1    149
2      4
Name: restecg, dtype: int64

We have to convert categorical into encoding

### Dummies using pandas to convert categorical value to one-hot encoding

In [16]:
df = pd.get_dummies(df,columns = ["cp","restecg"])

In [17]:
df.head(10)

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,cp_0,cp_1,cp_2,cp_3,restecg_0,restecg_1,restecg_2
0,63,1,145,233,0,150,0,2.3,1,0,0,0,1,1,0,0
1,37,1,130,250,0,187,0,3.5,1,0,0,1,0,1,0,0
2,41,1,130,204,0,172,0,1.4,1,0,1,0,0,1,0,0
3,56,1,120,236,0,178,0,0.8,1,0,1,0,0,1,0,0
4,57,1,120,354,0,163,1,0.6,1,1,0,0,0,1,0,0
5,57,1,140,192,0,148,0,0.4,1,1,0,0,0,0,1,0
6,56,0,140,294,0,153,0,1.3,1,0,1,0,0,1,0,0
7,44,1,120,263,0,173,0,0.0,1,0,1,0,0,0,1,0
8,52,1,172,199,1,162,0,0.5,1,0,0,1,0,0,1,0
9,57,1,150,168,0,174,0,1.6,1,0,0,1,0,0,1,0

In [18]:
df.columns

Index(['age', 'sex', 'trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak',
       'target', 'cp_0', 'cp_1', 'cp_2', 'cp_3', 'restecg_0', 'restecg_1',
       'restecg_2'],
      dtype='object')

In [19]:
df = df.rename(columns = {"num       ":"target"})  # Rename 'num' to 'target'

In [20]:
df.columns

Index(['age', 'sex', 'trestbps', 'chol', 'fbs', 'thalach', 'exang', 'oldpeak',
       'target', 'cp_0', 'cp_1', 'cp_2', 'cp_3', 'restecg_0', 'restecg_1',
       'restecg_2'],
      dtype='object')

In [21]:
numerical_cols = ["age","trestbps","chol","thalach","oldpeak"]  # We have to standardized this numerical columns
cat_cols = list(set(df.columns)-set(numerical_cols)-{"target"})

In [22]:
numerical_cols

['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

In [23]:
cat_cols

['restecg_0',
 'cp_0',
 'cp_1',
 'sex',
 'exang',
 'restecg_2',
 'cp_2',
 'cp_3',
 'restecg_1',
 'fbs']

### Spliting Data

In [24]:
df.head(10)

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,cp_0,cp_1,cp_2,cp_3,restecg_0,restecg_1,restecg_2
0,63,1,145,233,0,150,0,2.3,1,0,0,0,1,1,0,0
1,37,1,130,250,0,187,0,3.5,1,0,0,1,0,1,0,0
2,41,1,130,204,0,172,0,1.4,1,0,1,0,0,1,0,0
3,56,1,120,236,0,178,0,0.8,1,0,1,0,0,1,0,0
4,57,1,120,354,0,163,1,0.6,1,1,0,0,0,1,0,0
5,57,1,140,192,0,148,0,0.4,1,1,0,0,0,0,1,0
6,56,0,140,294,0,153,0,1.3,1,0,1,0,0,1,0,0
7,44,1,120,263,0,173,0,0.0,1,0,1,0,0,0,1,0
8,52,1,172,199,1,162,0,0.5,1,0,0,1,0,0,1,0
9,57,1,150,168,0,174,0,1.6,1,0,0,1,0,0,1,0

In [25]:
df_train , df_test = train_test_split(df,test_size = 0.2, random_state = 42)

In [26]:
len(df_train) , len(df_test)

(242, 61)

In [27]:
scaler = StandardScaler()  # object of Scaler

In [28]:
def get_features_and_target_arrays(df,numerical_cols,cat_cols,scaler):
  x_numeric_scaled = scaler.fit_transform(df[numerical_cols])  # Numeric Columns scaled and converted to numpy array
  #x_categorical = df[cat_cols].tonumpy() # categorical Columns converted to numpy array
  x_categorical = df[cat_cols].values  # same as above statement
  x = np.hstack((x_categorical,x_numeric_scaled))  # Merge x_categorical and x_numeric to x
  y = df["target"]  # on y there will be target
  return x,y

In [29]:
x_train,y_train = get_features_and_target_arrays(df_train,numerical_cols,cat_cols,scaler)

In [30]:
x_train  # Basically gives x_train array and vice versa for y_train by using "y_train"

array([[ 0.        ,  0.        ,  1.        , ...,  0.91403366,
         0.53278078, -0.92086403],
       [ 1.        ,  1.        ,  0.        , ...,  0.43952674,
        -1.75358236, -0.19378705],
       [ 0.        ,  0.        ,  0.        , ..., -0.30070405,
        -0.13967897,  2.3509824 ],
       ...,
       [ 1.        ,  0.        ,  0.        , ..., -0.24376322,
        -0.85696936, -0.82997941],
       [ 1.        ,  1.        ,  0.        , ...,  0.04094093,
        -0.27417092, -0.19378705],
       [ 0.        ,  0.        ,  1.        , ..., -0.98399402,
         1.29490183, -0.92086403]])

###LOGISTIC REGRESSION

In [31]:
### Train using Logistic Regression
clf = LogisticRegression() # Object of logistic regression
clf.fit(x_train,y_train)  # fit method will map x_train with corresponding y_train

LogisticRegression()

In [32]:
x_test,y_test = get_features_and_target_arrays(df_test,numerical_cols,cat_cols,scaler)

In [33]:
test_pred = clf.predict(x_test)

In [34]:
mean_squared_error(y_test,test_pred)

0.14754098360655737

In [35]:
accuracy_score(y_test,test_pred)  # Accuracy of Logistic Regression

0.8524590163934426

In [36]:
confusion_matrix(y_test,test_pred) # Confusion matrix of result

array([[25,  4],
       [ 5, 27]], dtype=int64)

In [44]:
df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,cp_0,cp_1,cp_2,cp_3,restecg_0,restecg_1,restecg_2
0,63,1,145,233,0,150,0,2.3,1,0,0,0,1,1,0,0
1,37,1,130,250,0,187,0,3.5,1,0,0,1,0,1,0,0
2,41,1,130,204,0,172,0,1.4,1,0,1,0,0,1,0,0
3,56,1,120,236,0,178,0,0.8,1,0,1,0,0,1,0,0
4,57,1,120,354,0,163,1,0.6,1,1,0,0,0,1,0,0

In [45]:
input_data = (60,0,150,240,0,171,0,0.9,1,0,0,0,1,0,0)
numpy_aray = np.asarray(input_data)
reshaped = numpy_aray.reshape(1,-1)
prediction = clf.predict(reshaped)
print("Prediction by Sandesh is")
print(prediction)

Prediction by Sandesh is
[0]

###DECISION TREE

In [37]:
dc_clf = DecisionTreeClassifier()
dc_clf.fit(x_train,y_train)

dlf_pred = dc_clf.predict(x_test)
print(mean_squared_error(y_test,dlf_pred))
print(accuracy_score(y_test,dlf_pred))  # Accuracy of Decision Tree

0.26229508196721313
0.7377049180327869

###RANDOM FOREST

In [38]:
rc_clf = RandomForestClassifier()
rc_clf.fit(x_train,y_train)

rc_pred = rc_clf.predict(x_test)
print(mean_squared_error(y_test,rc_pred))
print(accuracy_score(y_test,rc_pred))  # Accuracy of Random Forest

0.13114754098360656
0.8688524590163934

###SUPPORT VECTOR MACHINE

In [39]:
svm_clf = SVC()
svm_clf.fit(x_train,y_train)

svm_pred = svm_clf.predict(x_test)
print(mean_squared_error(y_test,svm_pred))
print(accuracy_score(y_test,svm_pred))  # Accuracy of SVM

0.11475409836065574
0.8852459016393442

#### KNN

In [40]:
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=10)

In [41]:
##knn.score(x_test,y_test)

In [42]:
knn_predict = knn.predict(x_test)
print(mean_squared_error(y_test,knn_predict))
print(accuracy_score(y_test,knn_predict))

0.16393442622950818
0.8360655737704918